.remove {
    max-width: 350px;

    &__title {
        margin-bottom: 20px;
        font-weight: 500;
    }

    &__list {
        margin-bottom: 20px;
    }

    &__item {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &__text {
        position: relative;
        display: block;
        padding-left: 30px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 2px solid var(--gb2);
        }
    }

    &__radio:checked + span::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--gb3);
    }

    &__radio:focus-visible + span::before {
        outline: auto;
    }
}
